name: Styling

on:
  push:
    branches:
      - main

permissions:
  contents: read

jobs:
  styling:
    runs-on: ubuntu-latest

    name: Code Style Check

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: 8.3
          extensions: dom, curl, libxml, mbstring, zip

      - name: Install Composer dependencies
        run: composer install --prefer-dist --no-interaction --no-progress

      - name: Run styling checks
        run: composer run-script style-check
